<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>Mypage</title>
</head>
<body>
<div id="my-article">
    <ul v-for='item in items'>
        <p>投稿者 : {{item.user_name}}</p>
        <p>タイトル : {{item.subject}}</p>
        <p>内容</p>
        <p> {{item.contents}}</p>
        <br/>
    </ul>
</div>
<form action="/logout" method="get"><input type="submit" value="logout" /></form>
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<script src="http://localhost:8888/app.js"></script>
<link href="../css/main.css" rel="stylesheet" type="text/css">

</body>
</html>