<!DOCTYPE html>
<html lang="jp" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>registration</title>
</head>
<body>
<div id="input">
    <div>
        <label>ユーザーID：</label>
        <input v-model="username" placeholder="edit me">
    </div>
    <div>
        <label>パスワード：</label>
        <input v-model="password" placeholder="edit me">
    </div>
    <div>
        <button v-on:click="registration">登録</button>
    </div>
</div>
<link href="../css/main.css" rel="stylesheet" type="text/css">
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<script src="http://localhost:8888/app.js"></script>
</body>
</html>